body {
  background-color: #f8f8f8;
  font-family: "helvetica neue", helvetica, sans-serif;
  font-size: 16px;
  overflow: hidden;
}

label {
  display: block;
  padding: 20px;
  border-bottom: solid 1px #ddd;
  border-right: solid 1px #ddd;
  width: 300px;
  color: #999;
}

#chromebot {
  font-size: 24px;
}
#chromebot::before {
  content: " ";
}

#canvasDiv {
  border-bottom: solid 1px #ddd;
  border-right: solid 1px #ddd;
  width: 340px;
  height: 340px;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
}